.container{
  display; flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 15%;
  background-color: lightgray;
}
.menu{
  flex: 5%;
  background-color: darkgray;
}
.content{
  flex: 70%;
  background-color: white;
}
.footer{
  flex: 70%;
  background-color: lightgray;
.tieude {
  color: tomato;
  font-weight:bold;
  font-size:25pt;
}
.noidung{
  color: black;
  font-style: normal;
  font-size: 14pt;
}
